<!-- Primary template that will get shown when widget loads -->
<script type="text/ng-template" id="marketPlaceMain.html"> 
	<widget-row ng-repeat="itemName in items" >
		<widget-cell fill>
            
			<select ng-model = "answer.data">
                
                <option ng-repeat="tag in itemName.tags"> {{tag}} 
                </option>
                <option value = "" > {{itemName.title}} </option>
                
            </select>
            
            <span ng-repeat= "tag in item.tags" class="label label-success">
                
				{{tag}}
			</span>
			
		</widget-cell>
		<widget-cell>
			<widget-icon name="angle-right"></widget-icon>
		</widget-cell>
	</widget-row>
    <widget-row> 
         <button class = "btn btn-default" ng-click = "showForm()"> OK </button>
        <button class = "btn btn-default" ng-click = "showForm('buy')"> BUY </button>
    </widget-row>
</script>

<!-- This template gets shown when user clicks one of the items in the list -->
<script type="text/ng-template" id="marketPlaceDetails.html"> 
	<!-- 'wr' and 'wc' are short for 'widget-row' and 'widget-cell' -->
	<wr>
		<wc><h2>{{detailsItem.title}}</h2></wc>
	</wr>
	<wr><wc><span ng-repeat= "tag in detailsItem.tags" class="label label-success">{{tag}}</span></wc></wr>
	<wr><wc><div class="pDetails">{{detailsItem.details}}</div></wc></wr>
</script>

<script type="text/ng-template" id = "shirtsForm.html">
    
    <h1> {{answer.data}} </h1> 
           <img src = "https://i02.hsncdn.com/desktop/DG27124_053017_ComplexGrid_EC_CellPhones.jpg?v=199">
     </script>

    
    
<script type = "text/ng-template" id = "buyForm.html"> 
    <h2> HI </h2>
</script>

